@mixin hoverDelete {
    color: rgb(212, 27, 27);
    cursor: pointer;
    transform: scale(1.1);
    transition: ease-in-out 400ms;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}