@import './variables.scss';

.headerSearchWrapper{
    position: relative;

    .headerSearchInput{
        padding: 10px;
        margin: 0;
        min-width: 400px;
        outline: none;
        height: 2.5rem;
        border-radius: 5px;
        font-size: 1.3rem; 
        line-height: 30px;
        border: 2px solid $neutralColorOne;

    }

    .headerSearchInput:focus{
        border: 2px solid $secondaryColor;
    }

    .headerSearchBtn {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        border-radius: 5px;
        border: none;
        height: 2.5rem;
        transform: translateX(2px);

        .headerSearchIcon{
            background-color: $secondaryColor;
            padding: 5px;
            height: 2.5rem !important;
            width: 3rem !important;
            border-radius: 5px;
        }
    }
}