@import './variables.scss';
@import 'mixins';

.imgContainer {
  display: flex;
  justify-content: flex-start; 
  margin: 50px 0 0 0;
}

.imgContainer img {
  max-width: 250px;
  display: block;
} 

.infoContainer {
  padding-left: 30px;
  border-left: 1px solid grey;

  .title {
    letter-spacing: $mainSpacing;
    line-height: 1.6;
  }

  .priceTag {
    background-color: $primaryColorDark;
    color: $neutralColorTwo;
    text-align: center;
    padding: 0.65rem;
    border-radius: 50%;
    max-width: 100px;
  }

  .starIcon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80px;
    padding: 0.85rem;
    margin: 10px 0;
    border-radius: 5px;
    background-color: $mainGrey;
  }
  
  .categoryTag {
    background-color: $mainGrey;
    padding: 0.85rem;
    width: 100%;
    border-radius: 5px;
  }
  
  .desc {
    letter-spacing: $mainSpacing;
    line-height: 1.6;
  }

}
  
.buttonContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px 20px;

  .productBtn {
    background-color: #FF7D00;
    color: $mainWhite;
    border: 1px solid;
    border-radius: 3px;
    margin-top: 10px;
    padding: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    
  }
  
  .productBtn:hover {
    background-color: #ffa44e;
    transition: $mainTransition;
  }

}

@media screen and (max-width: 752px) {
  .imgContainer {
    width: 95vw;
    max-width: 1170px;
  }

  .infoContainer {
    border: none;
  }
}



